body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background:#eee;
}

.box{
  position:relative;
  width:300px;
  height:200px;
}

.circle{
  border-radius:50%;
  position:absolute;
}

#drag{
  width:80px;
  height:80px;
  background:red;
  top:60px;
  left:0;
  cursor:grab;
  

}


#drop{
  width:80px;
  height:80px;
  background:blue;
  top:60px;
  right:0;
  display:flex;
  justify-content:center;
  align-items:center;

}